body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
